.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header__navigation {
}

.header__controls {
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation a {
  margin: 1rem;
  position: relative;
  display: block;
  font-size: 1.2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
}

.header__navigation a:hover {
  color: #278D9F;
}

.header__logo {
  width: 48px;
  height: 60px;
  background-image: url(/assets/svg/tree.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__controls {
  display: flex;
  align-items: center;
}

.header__search {
  width: 380px;
  height: 40px;
  padding: 5px 25px;
  margin: 10px 0;
  margin-right: 30px;
  border-radius: 20px;
  border: 1px solid #278D9F;
  color: #fff;
  font-size: 18px;
  background-color: rgba(31, 112, 127, .3);
  background-image: url(/assets/svg/search.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 330px center;
  backdrop-filter: blur(6px);
}

.header__toys-icon {
  width: 48px;
  height: 60px;
  background-image: url(/assets/svg/ball-2.svg);
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  transition: .3s;
}

.header__toys-counter {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #278D9F;
}